@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}


@media screen and (max-width: 768px) {


    .offcanvas .contact-box {
        display: block;
    }

    .dashboard-section {
        padding: 10px 5px;
        min-height: 100vh;
    }

}


@media screen and (max-width: 575px) {
    .main-wrap {
        padding: 10px 5px;
    }
}