@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    .main-wrap {
        flex: 1;
        overflow-y: auto;
        padding: 2px;
    }

    .note-card__title {
        font-size: 14px;
    }

    .note-card__priority {
        font-size: 11px;
        font-weight: 700;
        padding: 5px 8px;
    }

    .sidebar {
        width: 170px;
        padding: 20px 6px;
    }

    .sidebar-section ul li svg {
        font-size: 12px;
    }

    .sidebar-section ul li {
        padding: 6px 0px;
    }

    .create-btn {
        padding: 3px 8px;
        font-size: 14px;
    }

    .main-head {
        font-size: 20px;
    }

    .form-wrap .form-control {
        padding: 7px 8px;
        font-size: 14px;
    }

    .right-controls {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }

    .today-task-wrap .task-desc {
        text-align: left !important;
    }

    .search-wrapper {
        padding: 3px 5px;
        gap: 5px;
        min-width: 160px;
        font-size: 14px !important;
    }

    .search-wrapper .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 12px;
    }

    .top-bar-task .dropdown-toggle {
        padding: 3px 12px;
        gap: 6px;
        font-size: 13px;
    }

    .top-bar-task .btn-primary {
        padding: 4px 12px;
        font-size: 12px;
    }

    .top-bar-task {
        background: var(--background-color);
        padding: 12px 10px
    }

    .main-header {
        font-size: 18px !important;
    }

    .welcome-card p {
        font-size: 14px !important;
    }

    .dashboard-section {
        padding: 20px 20px;
    }
}


@media screen and (max-width: 768px) {
    .sidebar-section ul li span {
        font-size: 13px;
    }

    .offcanvas .contact-box {
        display: block;
    }

    .dashboard-welcome p {
        text-align: left !important;
    }

    .today-task-wrap .task-card {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .task-desc {
        text-align: justify !important;
    }

    .task-actions {
        display: flex !important;
        flex-direction: row !important;
    }

    .dashboard-section {
        padding: 10px 5px;
        min-height: 100vh;
    }

    .welcome-card h3 {
        font-weight: 20px !important;
    }

    .sidebar {
        width: 120px;
    }

    .main-head {
        font-size: 18px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-wrap .form-control {
        width: 100%;
        padding: 6px 12px;
        border-radius: 10px;
        border: 1px solid #d4d4d4;
        font-size: 13px;
    }

    .sidebar.closed {
        width: 45px;
        padding: 20px 6px;
    }

    .sidebar .toggle-btn {
        background: var(--primary-color);
        color: var(--white);
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 6px;
        font-size: 16px;
    }

    .note-col {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
    }

}


@media screen and (max-width: 575px) {
    .main-wrap {
        padding: 10px 5px;
    }

    .main-head {
        font-size: 16px;
    }

    .left-controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-avatar {
        width: 80px;
        height: 80px;
    }

    .form-select {
        font-size: 14px !important;
    }

    .offcanvas .btn-close {
        font-size: 14px !important;
    }

    .offcanvas {
        padding: 10px 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-left: 3px solid var(--primary-color) !important;

    }

    .search-btn {
        padding: 10px 12px;
        font-size: 14px;
    }

    .offcanvas-body {
        padding: 5px !important;
    }

    .offcanvas-header {
        position: relative;
        padding-bottom: 16px;
        overflow: hidden;
    }

    .offcanvas-menu-title {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #1F4339;

        margin-bottom: 12px;
        padding-left: 2px;
        position: relative;
    }

    /* small underline accent */
    .offcanvas-menu-title::after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        margin-top: 6px;
        background: linear-gradient(90deg,
                #1F4339,
                #B2856E);
        border-radius: 2px;
    }

    /* gradient bottom line */
    .offcanvas-header::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        height: 2px;

        background: linear-gradient(90deg,
                transparent,
                #1F4339,
                #B2856E,
                #1F4339,
                transparent);

        opacity: 0.8;
    }
}